  html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  
}




.borde {
  border-bottom: 5px solid rgb(250, 66, 53);
  width: 200px;

}


@media screen and (max-width:600px){
  .borde {
    border-bottom: 5px solid rgb(250, 43, 43);
    width: 150px;
    
  }
}

  textarea {
    width: 300px;
    height: 15px;
  }
 
.new-font{
  font-size: 30px;
}







/* caraousal */

header .item {
  height: 70vh;
  position: relative;
  margin-top: 90px;
}
header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;  
}
header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
header .owl-nav .owl-prev {
  position: absolute;
  left: 35px;
  margin-left: 1rem;
  top: 52%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(255, 255, 255,0.3) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;

}
header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: rgb(0, 0, 0);
}
header .owl-nav .owl-prev:focus {
  outline: 0;
}
header .owl-nav .owl-prev:hover {
  background: #000 !important;
}
header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 52%;
  margin-right: 1rem;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(255, 255, 255,0.3) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: rgb(233, 22, 22);
}
header .owl-nav .owl-next:focus {
  outline: 0;
}
header .owl-nav .owl-next:hover {
  background: #000 !important;
}
header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
header:hover .owl-next {
  right: 0px;
  opacity: 1;
}



#demo{
  margin-right: 60px;
  margin-left: 60px;
}
  .navbar-fixed-top.scrolled {
    background-color: rgb(219, 65, 65) !important;
    transition: background-color 200ms linear;
  }


.capitalize{

  text-transform: uppercase;
}
.navbar{

  padding: 10px;  

} 


.caraousal-class{

  padding-right: 70px;  
  padding-left: 70px;  
  

}

@media screen and (max-width: 600px){

  .card{
    margin-top:2rem;
  }
}


@media screen and (max-width: 600px) {
  .caraousal-class  {
    
    padding-left: 0px;
    padding-right: 0px;
    
  }
}

.solid{

  box-shadow: 5px 5px 8px #888888;

}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
  z-index: 1;
  opacity: 1;
  border-bottom: 0;
}



.container-fluid{

  position: relative;
                    text-align: center;
                    color: white;
}

.caraousal-img{

  width: 100%;
  height: 100vh;
 

}


.text-on-img{
  position: absolute;
  top: 150px;
  left: 100px;

  font-weight: bolder;
  font-size: 40px;
}



.active{
  border-bottom: 2px solid rgb(37, 88, 255);
}


 p{
   text-align: justify;
 } 


.red-head{
  color: #ff0202;
  font-weight: bold;
}

.blue-head{

  color: #1d4dd1;
  font-weight: bold;

}


  #home{
    
    width: 100%; 
    
    height: 70vh;
      

  }



#twri{

	padding-top: 150px;
	margin-left: 70px;
	
}

h5{
	
	color:  #ff0202;
	/* color: #007bff; */
	font-weight: bold;
	font-size: 24px;
}




h3{

	color: black;
	font-weight: bold;

}
.neli-heading{

	color:black;
	font-weight: bold;
}

.heading{
	text-align: center;
	

}
#nav-color{
  background-color: #fff;
}

#nav-cont{
	color: #ff0202;
  font-weight: bold;
  margin-left: 20px;
}

.aligncenter{

	align-content: center;

}

.nav-cont1{
	color: #ff0202;
  font-weight: bold;	
  text-align: right;
}

.navbar-nav{
  text-align: right;
}




.icon{
  color: #fd7272;
   font-size: 25px ;
}
/* About us */

.card-title{

	font-weight: bold;
}


/* 
testimonial section */





/* team section */

.india{

	background-color:rgb(255, 173, 180);
	 height: 300px;
}


/* Three columns side by side */
.column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
  
  /* Add some shadows to create a card effect */
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
	padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }

  .testimonial-card{
	  width: 100%;
	  text-align: center;

  }


  .solidline {
	border-top: 1px solid #e9e9e9;
  margin: 0 0 10px;
  
	
  }

  .line-padding{
    /* margin-top: 50px; */
    margin-bottom: 70px;
  }


.heading-padding
{
  margin-top: 30px
}



   /*==================
               contact-part
            ==================*/

            .contact{
                background-color: #1a1a1a;
                border-top: 3px solid #fff;
                margin-top: 100px;
            }

            .contact-heading h1{
            text-transform: uppercase;
           
            font-weight: 800;
            color: #fff;
            padding: 30px;
            } 
            .contact-list h3{
                font-size: 20px;
                font-weight: 500;
                
                
                color: #fff;
            } 
            .contact-list i{
                background-color: #3da7fb;
                color: #fff;
                border-radius: 50%;
                padding:15px;
            } 
            .contact-no h3{
                color: #fff;
                font-size: 20px;
            }
            .contact-no i{
                background-color: #3da7fb;
                color: #fff;
                border-radius: 50%;
                padding: 15px;
            }
           .message-heading h1{
             text-transform: uppercase;
            
             font-weight: 800;
             padding: 50px;
            }
            
          

            .form-content input {
              height: 40px;
              margin-bottom: 20px;
            }
            .form-content select{
              height: 40px;
             margin-bottom: 20px;
            }

            textarea {
              height: 162px !important;
              margin: 0 0 20px;
              padding: 20px 10px !important;
              }

           .sent-button {
             padding: 10px 40px !important;
             margin: 0;
             }

            .contact-form button.btn {
              border: 0;
              background-color: #00c853!important;
              color: #fff;
            
             }

             .form-control:focus {
              border-color: #ccc;
              box-shadow: none;
              }
            @media(max-width: 767px){
                .google-map-area{
                    margin-top: 30px;
                }
            }



/* footer section */

.footer{
  background-color: #36342f ;
   height: 70px; 
  margin-top: 50px;
  color: white;
}

@media screen and (max-width:600px){
  .footer{
    height: 110px;
  }
}

.con{
  padding: 10px;
  
} 

.top-gap{
  padding-top: 20px
}

.gap{
  padding-left: 70px;
  text-decoration: none;
}